.grid-row{
    display: flex;
    
}

.grid-item{
    width: 30px;
    height: 30px;
    background-color: aquamarine;
    border: 1px solid #ccc;
    margin: 2px;
    transition: background-color 0.3s ease;
}

.grid-item.hovered {
    background-color:#000;
}

